# Django
DJANGO_READ_DOT_ENV_FILE=True
DJANGO_SECRET_KEY=dev-inseguro-trocar
DJANGO_DEBUG=True
USE_DOCKER=yes

# Postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=12345qw
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=material_escolar

# Redis
REDIS_URL=redis://redis:6379/1

# App
BACKEND_PORT=8000
POSTGRES_HOST_PORT=5432
REDIS_HOST_PORT=6379
PGADMIN_PORT=9090
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=adminadmin
SERVER_NAME=http://localhost:8000

# Integracoes
SENTRY_URL=""
GEOREF_API_URL=""
